# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env

# Data files (downloaded data is large, never commit)
data/
*.csv
*.parquet
!dbt_project/seeds/*.csv

# Logs
logs/
*.log

# Airflow
airflow.db
airflow.cfg
webserver_config.py

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan

# OS
.DS_Store
Thumbs.db
desktop.ini

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Great Expectations
tests/great_expectations/uncommitted/

# Coverage
.coverage
htmlcov/

# Private Interview Guide (Keep local only)
PRESENTATION_GUIDE.md
